body {
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /* height: 100vh; 
    width: 100vw; */
}

.container {
    display: flex;
    height: 297mm;
    margin: auto;
    width: 210mm;
    background-color: #1c2437 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fefbb4;
    
}

.images {
    flex: 4;
    position: relative; /* To allow overlapping images */
}

.image-wrapper {
    position: relative;
    overflow: hidden; /* To hide the overflowing images */
    height: 50%; /* Make the container's height equal to the container's width */
    width: 100%;
}

.dish-image {
    max-width: 100%;
    height: 100%; /* Make each image take up half the container's height */
    object-fit: cover;
    /* position: absolute;  */
    /* Absolute positioning for overlapping */
    top: 0; /* Position the first image at the top */
}

.dish-image:last-child {
    bottom: 0; /* Position the second image at the bottom */
}

.menu {
    flex: 6;
    padding: 1em 2em;
    text-align: end;
}

h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 1em;
    border-bottom: 2px solid #333;
    /* padding-bottom: 0.5em; */
}

.menu-section {
    margin-bottom: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0.7em;
}

.menu-item {
    margin-bottom: 0.7em;
}

.menu-description {
    margin-bottom: 1em;
    font-size: 0.7em;
}
